<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.umd.cmsc434.axiv">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="replace">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.HOMEPAGE" />
                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>
        </activity>
        <activity
            android:name=".MealSelectionActivity"
            android:label="Select Meal Input Method"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".TrackSleepActivity"
            android:label="Track Sleep"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".TrackExerciseActivity"
            android:label="Track Exercise"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".TrackStepsActivity"
            android:label="Track Steps"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".TrackWeightActivity"
            android:label="Track Weight"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".TrackHydrationActivity"
            android:label="Track Hydration"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".TrackHRActivity"
            android:label="Track Heart Rate"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".TrackBPActivity"
            android:label="Track Blood Pressure"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".HealthSuggestionsActivity"
            android:label="@string/health_suggestions"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DailyTargetsActivity"
            android:label="@string/daily_targets"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TrackProgressActivity"
            android:label="@string/track_progress"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MealCameraPictureActivity"
            android:label="Meal Picture"
            android:parentActivityName=".MealSelectionActivity" />
        <activity
            android:name=".MealConfirmationActivity"
            android:label="Picture Confirmation"
            android:parentActivityName=".MealSelectionActivity" />
        <activity
            android:name=".MealManualInputActivity"
            android:label="Meal Manual Input"
            android:parentActivityName=".MealSelectionActivity" />
        <activity
            android:name=".IndividualCompetition"
            android:label="Competition"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RemindersActivity"
            android:label="Reminders"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>