<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.umd.cmsc434.axiv">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="replace">
        <activity android:name=".LoginRegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".MealSelectionActivity"
            android:label="Select Meal Input Method" />
        <activity
            android:name=".TrackSleepActivity"
            android:label="Track Sleep" />
        <activity
            android:name=".TrackExerciseActivity"
            android:label="Track Exercise" />
        <activity
            android:name=".TrackStepsActivity"
            android:label="Track Steps" />
        <activity
            android:name=".TrackWeightActivity"
            android:label="Track Weight" />
        <activity
            android:name=".TrackHydrationActivity"
            android:label="Track Hydration">
        </activity>

        <activity android:name=".HealthSuggestionsActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/health_suggestions"/>

        <activity android:name=".DailyTargetsActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/daily_targets"/>

        <activity android:name=".TrackProgressActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/track_progress"/>

        <activity android:name=".MealCameraPictureActivity"
            android:parentActivityName=".MealSelectionActivity"
            android:label="Meal Picture"/>

        <activity android:name=".MealConfirmationActivity"
            android:parentActivityName=".MealSelectionActivity"
            android:label="Picture Confirmation"/>

        <activity android:name=".IndividualCompetition"
            android:parentActivityName=".MainActivity"
            android:label="Competition"/>
    </application>

</manifest>